div#benefits-banner-section
	.benefits-banner
		.benefits-banner__container
			.benefits-banner__row
				.benefits-banner__col.benefits-banner__col--text
					p.benefits-banner__content 
						b Cross-departmental Benefits: 
						| Learn more about how CyberMDX can specifically enable your department and enhance your workflows
				.benefits-banner__col.benefits-banner__col--btn
					a.benefits-banner__btn(href="#") Learn more