#network-stage-section
	div#network-stage.network-stage
		div.network-stage__canvas
			include ../components/network-stage-component.pug
			div.network-stage__arrows.network-stage__arrows--prev Prev
			div.network-stage__arrows.network-stage__arrows--next Next
	.offset