#service-section.service-section
	#service-animation.service-section__animation-canvas
		include ../mixins/circle-text-mixin.pug
		+circle-text('Network Assets')
		+circle-text('Medical IoT<br>Devices')
		+circle-text('Generic IoT<br>Devices')