extends ./layouts/master.pug

block title
  title CyberMdxHome

block content
  <!-- Hero section-->
  include ./sections/hero-banner-section.pug

  <!-- Service section-->
  include ./sections/service-section.pug

  <!-- Networkstage section-->
  include ./sections/network-stage-section.pug
    
