extends ./layouts/master.pug

block title
  title CyberMdxHome

block content

  <!-- Service section-->
  include ./sections/service-section.pug

  <!-- Networkstage section-->
  include ./sections/network-stage-section.pug
    
