.nav-arrow {
  display: inline-block;
  height: 20px;
  width: 20px;

  &--blue {
    path {
      fill: $blue-color;
    }
  }

  &--white {
    path {
      fill: $white-color;
    }
  }
}

.seperator {
  border: 0;
  border-top: 2px solid;
  margin: 20px 0;

  &--blue {
    border-color: $blue-color;
  }
}

.section-seperator {
  @include media-breakpoint-custom-down($screen-sm) {
    margin: 40px auto;
  }
  @include layout-container();
  margin: 80px auto;
}

.angle-icon {
  display: inline-block;
  height: 42px;
  width: 26px;

  &--blue {
    stroke: $blue-color;
  }

  &--grey {
    stroke: $grey-color;
  }

  &--right {
    transform: rotateY(180deg);
  }
}

.showmore-icon {
  display: inline-block;
  height: 26px;
  width: 26px;

  &--blue {
    fill: $blue-color;
  }

  &--grey {
    fill: $grey-color;
  }
}
