//- Master layout

doctype html
html(lang='en')
  head

    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='msapplication-TileColor', content='#0E0E0E')
    meta(name='theme-color', content='#0E0E0E')

    //- SEO

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')

    //- Facebook
    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:image', content='')
    meta(property='og:type', content='website')


    //- Favicons
    link(rel='icon', type='image/png', sizes='32x32', href='./images/icons/favicon-32x32.png')

    //- Title
    block title
      title Your project!

    //- Core stylesheets
    link(rel="stylesheet", href="./css/layout.css")
    link(rel="stylesheet", href="./css/boilerplate.css")

    //- Plugins
    script(src="./js/greensock/gsap3/gsap.min.js")
    script(src="./js/greensock/gsap3/DrawSVGPlugin.min.js")
    script(src="./js/greensock/gsap3/MotionPathPlugin.min.js")
    
    script(src="./js/scrollmagic/ScrollMagic.min.js")
    script(src="./js/scrollmagic/plugins/animation.gsap.min.js")

  body
    .body-container-wrapper
      <!-- Main Block-->
      main.body-container.container-fluid 
        //- block content
        block content

    //- block scripts
    block scripts

