.hero-banner.contain-bg
  .background
    .bg-img.bg-img--preload(data-image-array=[{screen: 0, src: require("images/banner-a.jpg")}])
  .hero-banner__content
    .hero-banner__container
      .hero-banner__row
          .hero-banner__circle-wrapper
            include ./hero-circle.pug

          .hero-banner__title
            h1.hero-banner__title-h1
              span.hero-banner__title-line
                span.hero-banner__title-word-wrapper 
                  span.hero-banner__title-word &nbsp;Identify,
                span.hero-banner__title-word-wrapper 
                  span.hero-banner__title-word &nbsp;classify,
              span.hero-banner__title-line
                span.hero-banner__title-word-wrapper 
                  span.hero-banner__title-word &nbsp;optimize,
                span.hero-banner__title-word-wrapper 
                  span.hero-banner__title-word &nbsp;secure

      