svg.hero-banner__circle(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0', y='0', viewBox='0 0 160 400.5', xml:space='preserve', preserveAspectRatio='xMaxYMid meet')
  path.hero-banner__circle-outerpath(d='M-13-26.5C23.5 5 94.3 106.3 101.5 211c7.5 109.5-32.5 173.5-66 228', fill='none', stroke='#000', stroke-width='6', stroke-miterlimit='10')
  path.hero-banner__circle-innerpath(d='M-6.3-20.3C31.5 16.8 94.7 112.4 101.5 211c7.3 106.9-30.6 170.4-63.6 224.1', fill='none', stroke='#000', stroke-width='5', stroke-linecap='round', stroke-linejoin='round', stroke-dasharray='0,9.1532')
  circle.hero-banner__circle-bullet(cx='49', cy='-200', r='18.1', fill-rule='evenodd', clip-rule='evenodd')

