svg#network-stage__svg.network-stage__svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0', y='0', viewBox='0 0 675 463.5', xml:space='preserve')
  g.network-stage__label
    path.st0(d='M89 410.4c.5 0 1 0 1.5-.1.4-.1.9-.2 1.5-.3.5-.1 1-.4 1.5-.6.3-.2.6-.4.8-.6.2-.2.3-.5.4-.7s0-.5-.1-.7c-.1-.2-.4-.4-.7-.6-.4-.2-.8-.4-1.2-.4-.4-.1-.9-.1-1.4 0-.5 0-1 .1-1.5.2s-1.1.2-1.6.4c-.5.1-1.1.2-1.6.3s-1.1.2-1.6.2-1.1 0-1.6-.1-1-.3-1.5-.5c-.4-.3-.8-.5-1-.9-.2-.3-.3-.7-.3-1 0-.4.2-.7.5-1.1s.7-.7 1.3-1c.5-.3 1.1-.5 1.6-.7.5-.2 1-.3 1.4-.4.5-.1 1-.1 1.4-.1l.4.9c-.4 0-.8.1-1.2.1l-1.2.3c-.4.1-.9.3-1.3.5s-.7.5-.9.7c-.2.3-.3.5-.3.7 0 .2 0 .5.1.7.1.2.3.4.6.6.4.2.8.3 1.2.4h1.4c.5-.1 1-.1 1.5-.3.5-.1 1.1-.2 1.6-.4.5-.1 1.1-.2 1.6-.3.6-.1 1.1-.2 1.7-.2.5 0 1.1 0 1.6.1s1 .3 1.5.6.8.6 1 .9c.2.3.3.7.3 1 0 .4-.2.7-.5 1.1-.3.4-.7.7-1.3 1-.3.2-.6.3-1 .5-.3.1-.6.2-1 .3-.3.1-.6.2-.9.2-.3.1-.6.1-.8.2-.6.1-1.2.1-1.8.1l-.1-1zM88.5 399.3l4.2-2.4c.5-.3 1.1-.6 1.8-.7.6-.2 1.3-.3 1.9-.3.6 0 1.3.1 1.9.2.6.2 1.2.4 1.8.7.6.3 1 .7 1.3 1 .3.4.4.7.4 1.1 0 .4-.2.7-.4 1.1-.3.4-.7.7-1.2 1l-3 1.7 4.7 2.7-1.2.7-12.2-6.8zm10.4 1.3c.4-.2.7-.5.9-.7.2-.3.3-.5.3-.8s-.1-.5-.3-.8c-.2-.3-.5-.5-.9-.8-.4-.2-.8-.4-1.3-.5-.4-.1-.9-.2-1.4-.2-.5 0-.9.1-1.3.2s-.9.3-1.3.5l-2.9 1.7 5.2 3 3-1.6zM112.3 395.1l-4.9 2.8 2.5 3-1.3.7-7.6-9.6 1.3-.7 16.6 4.4-1.3.7-5.3-1.3zm-9.4-2.6l.4.4.4.4c.1.1.2.3.3.4l2.8 3.5 4.2-2.4-6-1.6c-.2-.1-.4-.1-.6-.2-.2-.1-.5-.1-.7-.2-.3-.2-.5-.3-.8-.3zM108.6 387.7l1.2-.7 14.9 1.4c.3 0 .5.1.8.1.3 0 .6.1.9.1.3 0 .6.1.9.1l-.6-.3-.6-.3c-.2-.1-.4-.2-.5-.3l-8.7-5 1.2-.7 12.1 7-1.2.7-14.9-1.4c-.3 0-.5-.1-.8-.1-.3 0-.6-.1-.9-.1-.3 0-.6-.1-.9-.1l.6.3.6.3c.2.1.4.2.5.3l8.7 5-1.2.7-12.1-7zM123.9 378.1l1.1-.6 9.1 10.3-1.1.6-9.1-10.3zM132.3 375.3l-4.4 2.5-1.1-.6 9.9-5.7 1.1.6-4.4 2.5 11 6.4-1.2.7-10.9-6.4zM145.8 377.5c-.5-.3-.8-.6-.9-.9s-.2-.6-.1-.9.3-.6.5-.9c.3-.3.6-.6.9-.8.3-.3.7-.5 1-.7s.7-.4.9-.5l.5-.3-.2-.1c-.4-.2-.8-.4-1.2-.5-.4-.1-.8-.1-1.1-.1-.4 0-.7.1-1.1.2-.3.1-.7.3-1 .4-.4.2-.6.4-.9.6s-.4.4-.5.6l-.3.6-1.4-.2c.1-.2.2-.5.3-.8.1-.2.4-.5.6-.8.3-.3.7-.6 1.2-.8 1.1-.6 2.1-.9 3.3-.9s2.2.3 3.3 1l5.5 3.2-1.1.6-.9-.5c-.1-.1-.2-.1-.3-.2-.1-.1-.2-.1-.2-.1-.1 0-.1-.1-.2-.1.2.3.3.6.3.9v.4c0 .2-.1.3-.2.5s-.2.3-.4.5-.4.3-.7.5c-.4.2-.8.4-1.2.5-.5.1-.9.2-1.4.3-.5 0-1 0-1.5-.1s-1.1-.4-1.5-.6zm1.2-.8c.2.1.4.2.7.3.3.1.6.1.9.1.3 0 .6 0 1-.1.3-.1.7-.2 1-.4.4-.2.7-.5.8-.8.1-.3.2-.6.1-.9-.1-.3-.2-.6-.5-.9-.3-.3-.6-.5-1-.8l-.4-.2-.5.3c-.2.1-.5.3-.8.5s-.6.4-.8.6c-.3.2-.5.4-.7.6-.2.2-.4.4-.4.6s-.1.4 0 .6.2.4.6.5zM149.1 368.3l1.1-.6.8.5c.1.1.2.1.3.2.1 0 .1.1.2.1s.1.1.2.1c-.2-.3-.2-.6-.2-.9 0-.1 0-.3.1-.4 0-.1.1-.3.2-.5s.3-.3.5-.5.4-.3.7-.5c.6-.3 1.2-.6 1.9-.7.7-.1 1.4-.2 2.1-.2.7 0 1.5.2 2.2.4.7.2 1.4.5 2.1.9.7.4 1.2.8 1.6 1.2s.6.9.6 1.3-.1.8-.3 1.2c-.3.4-.7.8-1.2 1.1-.3.2-.5.3-.8.4-.3.1-.5.2-.8.2-.3.1-.5.1-.8.1h-.7c-.5 0-1 0-1.5-.1.1 0 .1.1.2.1s.2.1.3.1c.1.1.2.1.3.2l4.1 2.4-1.2.7-12-6.8zm5.5 1.9c.4.3.9.5 1.5.6.5.2 1.1.3 1.6.3.6.1 1.1 0 1.7 0 .5-.1 1-.3 1.5-.5.4-.2.7-.5.9-.8.2-.3.3-.6.2-.9 0-.3-.2-.6-.5-1-.3-.3-.7-.7-1.3-1-.5-.3-1.1-.5-1.6-.7-.6-.2-1.1-.3-1.7-.3-.5 0-1.1 0-1.6.1s-1 .3-1.4.5c-.4.2-.7.5-.9.7-.2.3-.3.6-.3.9 0 .3.2.6.5 1 .3.3.8.7 1.4 1.1zM158.4 358.2l1.1-.6 9.1 10.3-1.1.6-9.1-10.3zM162.2 356.8l4.2-2.4c.5-.3 1.1-.6 1.8-.7.6-.2 1.3-.3 1.9-.3.6 0 1.3.1 1.9.2s1.2.4 1.8.7c.6.3 1 .7 1.3 1s.4.7.4 1.1c0 .4-.2.7-.4 1.1-.3.4-.7.7-1.2 1l-3 1.7 4.7 2.7-1.2.7-12.2-6.8zm10.3 1.3c.4-.2.7-.5.9-.7.2-.3.3-.5.3-.8 0-.3-.1-.5-.3-.8-.2-.3-.5-.5-.9-.8-.4-.2-.8-.4-1.3-.5s-.9-.2-1.4-.2c-.5 0-.9.1-1.3.2s-.9.3-1.3.5l-2.9 1.7 5.2 3 3-1.6zM181 357.1c-.5-.3-.8-.6-.9-.9s-.2-.6-.1-.9c.1-.3.3-.6.5-.9.3-.3.6-.6.9-.8.3-.3.7-.5 1-.7s.7-.4.9-.5l.5-.3-.2-.1c-.4-.2-.8-.4-1.2-.5-.4-.1-.8-.1-1.1-.1-.4 0-.7.1-1.1.2-.3.1-.7.3-1 .4-.4.2-.6.4-.9.6-.2.2-.4.4-.5.6l-.3.6-1.4-.2c.1-.2.2-.5.3-.8.1-.2.4-.5.6-.8.3-.3.7-.6 1.2-.8 1.1-.6 2.1-.9 3.3-.9s2.2.3 3.3 1l5.5 3.2-1.1.6-.9-.5c-.1-.1-.2-.1-.3-.2-.1-.1-.2-.1-.2-.1-.1 0-.1-.1-.2-.1.2.3.3.6.3.9v.4c0 .2-.1.3-.2.5s-.2.3-.4.5-.4.3-.7.5c-.4.2-.8.4-1.2.5-.5.1-.9.2-1.4.3-.5 0-1 0-1.5-.1-.6-.1-1-.3-1.5-.6zm1.2-.7c.2.1.4.2.7.3.3.1.6.1.9.1.3 0 .6 0 1-.1.3-.1.7-.2 1-.4.4-.2.7-.5.8-.8.1-.3.2-.6.1-.9-.1-.3-.2-.6-.5-.9-.3-.3-.6-.5-1-.8l-.4-.2-.5.3c-.2.1-.5.3-.8.5-.3.2-.6.4-.8.6-.3.2-.5.4-.7.6-.2.2-.4.4-.4.6s-.1.4 0 .6c0 .1.2.3.6.5zM188.1 350.8c-.7-.4-1.2-.8-1.5-1.3-.3-.5-.5-.9-.5-1.4 0-.5.2-.9.5-1.4.3-.4.8-.9 1.5-1.2.5-.3 1.1-.5 1.6-.7.5-.2 1-.3 1.4-.3.5-.1 1-.1 1.4-.1l.3.9c-.4 0-.8 0-1.2.1-.3.1-.7.1-1.2.3-.4.1-.8.3-1.2.5-.5.3-.8.6-1.1.9s-.4.7-.4 1c0 .4.1.7.4 1.1.3.3.6.7 1.2 1 .5.3 1.1.5 1.7.7.6.1 1.2.2 1.8.2.6 0 1.2-.1 1.8-.2.6-.1 1.1-.4 1.6-.6.4-.3.8-.5 1-.8s.4-.5.5-.8c.1-.3.1-.5.1-.8l1.4.2c0 .3 0 .6-.2.9-.1.3-.3.6-.6.9-.3.3-.7.6-1.3 1-.6.4-1.4.7-2.1.8-.8.2-1.6.3-2.4.3-.8 0-1.6-.1-2.4-.3-.7-.2-1.4-.5-2.1-.9zM190.1 340.7l1.2-.7 6.7 3.9 1.4-.8-.7-3.4 1.4-.8.7 3.9 8.2.9-1.4.8-7.2-.8-1.4.8 4.3 2.5-1.2.7-12-7zM205.5 340.8c-.7-.4-1.2-.8-1.6-1.3-.3-.5-.5-.9-.5-1.4 0-.5.2-.9.5-1.3s.8-.8 1.4-1.1c.6-.3 1.2-.6 1.9-.7.7-.1 1.3-.2 2-.2s1.3.1 2 .3c.6.2 1.2.4 1.8.8.1 0 .1.1.2.1s.1.1.2.1.1.1.2.1l-6.7 3.9c.6.3 1.2.5 1.8.7.6.1 1.2.2 1.8.2.6 0 1.2-.1 1.7-.2.6-.1 1.1-.4 1.5-.6.4-.2.7-.5.9-.7s.4-.5.5-.7c.1-.2.2-.5.2-.7l1.4.2c0 .3-.1.6-.3.9-.1.3-.3.5-.6.8-.3.3-.6.6-1.1.9-.6.4-1.4.7-2.1.9-.8.2-1.6.3-2.4.3-.8 0-1.6-.1-2.4-.3-.9-.4-1.6-.7-2.3-1zm5.8-4.5c-.5-.3-.9-.4-1.4-.5-.5-.1-.9-.2-1.4-.2-.4 0-.9.1-1.3.2s-.8.3-1.1.4c-.4.2-.7.4-.9.7s-.3.5-.4.8c0 .3 0 .6.2.9.1.3.4.6.8.9l5.5-3.2zM212.5 333l-1.1.7-1-.6 1.2-.7-2.6-1.4 1.2-.7 2.5 1.4 2.2-1.3 1 .6-2.2 1.3 4.3 2.5c.3.2.7.3 1 .4.3.1.6.2.9.2h.8c.2 0 .5-.1.7-.1.2-.1.4-.1.5-.2.2-.1.3-.1.4-.2.1 0 .1-.1.2-.1l.1-.1.1-.1 1.1.6-.1.1-.1.1c-.1 0-.1.1-.2.1l-.6.3c-.2.1-.5.2-.8.3-.3.1-.6.1-1 .2h-1.1c-.4 0-.8-.1-1.3-.3-.5-.1-.9-.3-1.4-.6l-4.7-2.4zM217.5 324.9l4.2-2.4c.5-.3 1-.5 1.5-.6.5-.2 1.1-.2 1.6-.3.6 0 1.1 0 1.6.2.5.1 1 .3 1.5.6.6.4 1 .8 1.2 1.2.2.4.1.8-.1 1.2.4-.1.8-.2 1.3-.3h1.3c.4 0 .9.1 1.3.3.4.1.8.3 1.2.5.5.3.9.6 1.2 1 .2.4.3.7.3 1.1 0 .4-.2.7-.5 1.1-.3.3-.7.7-1.2 1l-4.3 2.5-12.1-7.1zm9.4.6c.3-.2.5-.4.7-.6.1-.2.2-.4.2-.6 0-.2-.1-.4-.2-.6-.2-.2-.4-.4-.7-.6-.3-.2-.6-.3-1-.4-.4-.1-.7-.1-1.1-.1-.4 0-.7 0-1.1.1-.4.1-.7.2-1 .4l-2.9 1.7 4.2 2.4 2.9-1.7zm5.9 3.2c.4-.2.6-.4.8-.7s.3-.5.3-.7c0-.2-.1-.5-.3-.7-.2-.2-.5-.5-.8-.7-.4-.2-.7-.4-1.2-.5-.4-.1-.8-.2-1.3-.2-.4 0-.8.1-1.2.2-.4.1-.8.3-1.1.5l-3.1 1.8 4.7 2.7 3.2-1.7zM231.3 320.8l1.2-.7 1.5.9c.1.1.2.1.3.2s.1.1.2.1.1.1.2.1c-.2-.2-.4-.5-.5-.8-.1-.3-.2-.5-.1-.8 0-.3.1-.5.3-.7.2-.2.4-.5.8-.7.1 0 .1-.1.2-.1s.1-.1.2-.1.1 0 .2-.1l1.2.7s-.1 0-.1.1c0 0-.1 0-.2.1-.1 0-.1.1-.2.1-.3.2-.5.4-.7.6-.2.2-.2.4-.3.7 0 .2 0 .5.1.7.1.2.3.5.5.7.2.2.4.4.7.6.2.2.5.4.8.5l3.6 2.1-1.2.7-8.7-4.9zM240.8 320.3c-.6-.4-1.1-.8-1.4-1.2-.3-.5-.5-.9-.4-1.4 0-.5.2-.9.5-1.4.3-.5.8-.9 1.5-1.2.6-.4 1.3-.6 2.1-.8.8-.2 1.6-.3 2.4-.3.8 0 1.6.1 2.4.3.8.2 1.5.4 2.1.8.7.4 1.1.8 1.5 1.3.3.5.5.9.5 1.4 0 .5-.2.9-.5 1.4-.3.5-.8.9-1.4 1.2-.6.4-1.4.6-2.1.8-.8.2-1.6.3-2.4.3-.8 0-1.6-.1-2.4-.3-1.1-.2-1.8-.5-2.4-.9zm1.2-.7c.5.3 1.1.5 1.7.7s1.2.2 1.8.2c.6 0 1.2-.1 1.8-.2.6-.1 1.1-.3 1.6-.6s.8-.6 1.1-.9c.2-.3.3-.7.3-1.1 0-.4-.1-.7-.4-1.1-.3-.4-.6-.7-1.1-1-.5-.3-1-.5-1.6-.6-.6-.1-1.2-.2-1.8-.2-.6 0-1.2.1-1.8.2-.6.1-1.1.3-1.6.6s-.8.6-1.1.9c-.2.3-.4.7-.4 1 0 .4.1.7.4 1 .2.5.6.8 1.1 1.1zM244.4 309.3l1.2-.7 6.7 3.9 1.4-.8-.7-3.4 1.4-.8.7 3.9 8.2.9-1.4.8-7.2-.8-1.4.8 4.3 2.5-1.2.7-12-7zM259.8 309.4c-.7-.4-1.2-.8-1.6-1.3-.3-.5-.5-.9-.5-1.4 0-.5.2-.9.5-1.3s.8-.8 1.4-1.1c.6-.3 1.2-.6 1.9-.7.7-.1 1.3-.2 2-.2s1.3.1 2 .3 1.2.4 1.8.8c.1 0 .1.1.2.1s.1.1.2.1.1.1.2.1l-6.7 3.9c.6.3 1.2.5 1.8.7.6.1 1.2.2 1.8.2.6 0 1.2-.1 1.7-.2.6-.1 1.1-.4 1.5-.6.4-.2.7-.5.9-.7.2-.2.4-.5.5-.7.1-.2.2-.5.2-.7l1.4.2c0 .3-.1.6-.3.9-.1.3-.3.5-.6.8-.3.3-.6.6-1.1.9-.6.4-1.4.7-2.1.9-.8.2-1.6.3-2.4.3-.8 0-1.6-.1-2.4-.3-.9-.3-1.7-.6-2.3-1zm5.8-4.4c-.5-.3-.9-.4-1.4-.5-.5-.1-.9-.2-1.4-.2-.4 0-.9.1-1.3.2s-.8.3-1.1.4c-.4.2-.7.4-.9.7-.2.3-.3.5-.4.8 0 .3 0 .6.2.9.1.3.4.6.8.9l5.5-3.2zM265.6 301.1l1.2-.7 1.5.9c.1.1.2.1.3.2.1 0 .2.1.2.1.1 0 .1.1.2.1-.2-.2-.4-.5-.5-.8-.1-.3-.2-.5-.1-.8 0-.3.1-.5.3-.7.2-.2.4-.5.8-.7.1 0 .1-.1.2-.1s.1-.1.2-.1.1 0 .2-.1l1.2.7s-.1 0-.1.1c0 0-.1 0-.2.1-.1 0-.1.1-.2.1-.3.2-.5.4-.7.6-.2.2-.2.4-.3.7 0 .2 0 .5.1.7.1.2.3.5.5.7.2.2.4.4.7.6.2.2.5.4.8.5l3.6 2.1-1.2.7-8.7-4.9z')
  g.network-stage__tree
    path.st1(d='M206.9 249.9l49.8 28.8')
    path.st1(d='M256.7 278.7l49.8 28.7')
    path.st1(d='M343.3 401.2l49.8 28.7')
    path.st2(d='M399 426.5c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.8 8.6-1.8 11.8 0z')
    path.st1(d='M393.4 372.3l49.8 28.7')
    path.st2(d='M449.1 397.6c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.6-1.9 11.8 0z')
    path.st1(d='M418.5 357.8l49.8 28.7')
    path.st2(d='M474.2 383.1c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.2-1.8 8.5-1.8 11.8 0z')
    path.st1(d='M468.6 328.9l49.8 28.7')
    path.st1(d='M393.7 314.6L318.5 358')
    path.st1(d='M318.5 358l-50.1 28.9')
    path.st2(d='M274.3 390.3c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0s3.3 4.9 0 6.8z')
    path.st1(d='M306.5 307.4l49.8 28.8')
    path.st1(d='M393.4 372.3l-50.1 28.9')
    path.st2(d='M349.2 404.6c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0s3.2 4.9 0 6.8z')
    path.st1(d='M318.5 358l49.8 28.7')
    path.st1(d='M468.6 328.9l-50.1 28.9')
    path.st2(d='M424.3 361.2c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0s3.3 4.9 0 6.8z')
    path.st1(d='M542.7 342.7l-50.1 29')
    path.st2(d='M498.5 375.1c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0 3.2 1.8 3.2 4.9 0 6.8z')
    path.st1(d='M393.7 314.6l49.8 28.7')
    path.st2(d='M399.6 318c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0 3.3 1.8 3.2 4.9 0 6.8z')
    path.st2(d='M312.4 310.6c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0s3.2 4.9 0 6.8z')
    path.st2(d='M312.9 310.6c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8 8.5-1.9 11.8 0 3.2 4.9 0 6.8z')
    path.st2(d='M212.8 253.3c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.2 1.9 3.2 4.9 0 6.8z')
    path.st2(d='M324.4 361.4c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0s3.3 4.9 0 6.8z')
    path.st2(d='M263.1 282.6c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8 8.5-1.9 11.8 0 3.3 4.9 0 6.8z')
    path.st2(d='M399.3 375.6c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0s3.2 5 0 6.8z')
    path.st2(d='M524.3 354.2c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0z')
    path.st2(d='M474.4 332.2c-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.9 8.5-1.9 11.8 0s3.3 5 0 6.8z')
    path.st2(d='M598.4 368c3.2 1.9 3.2 4.9 0 6.8s-8.5 1.9-11.8 0c-3.2-1.9-3.2-4.9 0-6.8s8.6-1.8 11.8 0z')
    path.st1(d='M542.7 342.7l49.8 28.8')
    path.st2(d='M548.6 346.1c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8s8.5-1.9 11.8 0c3.3 1.9 3.2 4.9 0 6.8z')
  g#branch-c.network-stage__branches
    path.st3.active-dot(d='M312.7 303.7c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8 8.6-1.9 11.8 0z')
    path.st4.active-line-a(d='M306.4 307.4v-76.2')
    g#icon-switches.active-icon-a
      circle.st3(cx='306.4', cy='231.2', r='25.6')
      path.st5(d='M291.2 216h30.4v30.4h-30.4zM306.4 220.4v21.7M317.2 231.2h-21.6')
      path.st5(d='M303.6 223.2l2.8-2.8 2.8 2.8M309.2 239.2l-2.8 2.9-2.8-2.9M314.4 228.4l2.8 2.8-2.8 2.8M298.4 234l-2.8-2.8 2.8-2.8')
      g
        path.st5(d='M296.4 241.2c-.4-.4-.4-1 0-1.3l8.9-9.7 9.7-8.9c.4-.3 1-.3 1.3 0 .4.4.4 1 0 1.3l-8.9 9.7-9.7 8.9c-.3.4-.9.4-1.3 0z')
        path.st5(d='M316.4 241.2c-.4.4-1 .4-1.3 0l-9.7-8.9-8.9-9.7c-.3-.4-.3-1 0-1.3.4-.4 1-.4 1.3 0l9.7 8.9 8.9 9.7c.3.3.3.9 0 1.3z')
      circle.st6(cx='306.4', cy='231.2', r='1.4')
    text.active-text-a(transform='translate(341.28 237.66)')
      | Core Switches
  g#branch-b.network-stage__branches
    text.active-text-a(transform='translate(291.586 177.416)')
      | CyberMDX Sensor 
    path.st4.active-line-a(d='M256.7 278.7V171')
    g#icon-sensor.active-icon-a
      circle.st3(cx='256.7', cy='171', r='25.6')
      circle.st5(cx='256.7', cy='171', r='5.8')
      circle.st5(cx='268', cy='158.6', r='3.7')
      circle.st5(cx='242.3', cy='164', r='2.7')
      circle.st5(cx='258.7', cy='185', r='2.7')
      path.st5(d='M260.6 166.7l4.8-5.4M258.3 182.3l-.9-5.6M244.5 165.1l6.8 3.3')
    path.st3.active-dot(d='M263.3 275.8c3.2 1.9 3.2 4.9 0 6.8s-8.5 1.9-11.8 0c-3.2-1.9-3.2-4.9 0-6.8 3.2-1.9 8.5-1.9 11.8 0z')
  g#branch-a.network-stage__branches
    path.st3.active-dot(d='M212.8 246.5c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0s-3.2-4.9 0-6.8c3.3-1.8 8.6-1.9 11.8 0z')
    path.st4.active-line-a(d='M206.9 249.9v-120')
    path.st4.active-line-b(d='M206.9 121.4V51.3')
    g#icon-core.active-icon-a
      circle.st3(cx='206.9', cy='129.9', r='25.6')
      defs
        path#SVGID_1_(d='M193.4 118.7c-.1.1-.2.2-.2.3l9.5 11-9.3 11.1.3.3c1.1.9 2.5 1.4 3.9 1.4 1.7 0 3.4-.7 4.6-2.2l4.8-5.7 4.8 5.5c2.2 2.5 6 2.8 8.5.6l.3-.3-18.7-21.5a6.03 6.03 0 00-4.6-2.1c-1.3.1-2.7.6-3.9 1.6m18.5.3l-1.2 1.4c-1.2 1.4-1.1 3.4.2 4.7 1.1 1.1 3 1.1 4.1 0l.2-.2 5.3-6.3-1.2-.8c-1-.6-2-.9-3.1-.9-1.6.1-3.2.8-4.3 2.1')
      clippath#SVGID_2_
        use(xlink:href='#SVGID_1_', overflow='visible')
      path(clip-path='url(#SVGID_2_)', fill='none', stroke='#fff', stroke-miterlimit='10', d='M192.7 116.5h28.4v26.8h-28.4z')
      use(xlink:href='#SVGID_1_', overflow='visible', fill='none', stroke='#fff', stroke-miterlimit='10')
    g#icon-cloud.active-icon-b
      circle.st3(cx='206.9', cy='51.3', r='25.6')
      path.st5(d='M195.4 58.9h3.8l.3.3c1.5 1.7 3.6 2.7 5.9 2.7 2.2 0 4.3-.9 5.8-2.6l.6-.7.7.7c.6.6 1.4.9 2.3.9.9 0 1.8-.4 2.4-1.1l.3-.3h4.4c2.3 0 4.2-1.9 4.2-4.2 0-2.3-1.9-4.2-4.2-4.2h-.3l-.9.1v-.9c-.1-3.4-2.9-6.1-6.3-6.1-.8 0-1.6.2-2.4.5l-.9.4-.3-.9c-1-2.9-3.8-4.8-6.9-4.8-4 0-7.3 3.3-7.3 7.3v.8l.1 1h-1.1c-3.1 0-5.5 2.5-5.5 5.5-.3 3.1 2.2 5.6 5.3 5.6z')
    text.active-text-b(transform='translate(118.859 57.78)')
      | Cloud
    text.active-text-a(transform='translate(38.77 136.322)')
      | CyberMDX Core
  g#branch-d.network-stage__branches
    path.st3.active-dot(d='M274.4 390.3c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.3 5 0 6.8')
    path.st4.active-line-a(d='M268 387V279.3')
    g#icon-wlc.active-icon-a
      path.st3(d='M293.6 279.3c0-14.1-11.4-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.5 25.6 25.6 25.6 14.1 0 25.6-11.5 25.6-25.6')
      path.st5(d='M251.7 289.9h32.6c.7 0 1.3-.6 1.3-1.3V270c0-.7-.6-1.3-1.3-1.3h-32.6c-.7 0-1.3.6-1.3 1.3v18.7c.1.6.6 1.2 1.3 1.2z')
      path.st5(d='M269.5 283.1h11.1m-8.1-3l-3 3 3 3m-4.5-13.7v8.5m3-5.5l-3-3-3 3m1.5 7.7h-11.1m8.1 3l3-3-3-3')
    text.active-text-a(transform='translate(200.107 285.066)')
      | WLC
    path.st3.active-dot--related(d='M324.4 361.4c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.2 4.9 0 6.8')
    path.st3.active-dot--related(d='M349.1 404.6c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.3 5 0 6.8')
    path.st3.active-dot--related(d='M399.4 375.7c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.3 4.9 0 6.8')
  g#branch-e.network-stage__branches
    path.st3.active-dot(d='M399.7 317.9c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.8 3.3 4.9 0 6.8')
    text.active-text-a(transform='translate(433.69 210.677)')
      | Distribution switches
    path.st4.active-line-a(d='M393.8 313.9V206.2')
    g#icon-distribution-switches.active-icon-a
      path.st3(d='M419.4 206.2c0-14.1-11.4-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.5 25.6 25.6 25.6 14.1 0 25.6-11.4 25.6-25.6')
      g#icon-grp
        path.st5(d='M377.5 216.8h32.6c.7 0 1.3-.6 1.3-1.3v-18.7c0-.7-.6-1.3-1.3-1.3h-32.6c-.7 0-1.3.6-1.3 1.3v18.7c0 .8.6 1.3 1.3 1.3z')
        path.st5(d='M382.2 202.5h23.1m-3 3l3-3-3-3M382.2 210h23.1m-20.1-3l-3 3 3 3')
  g#branch-f.network-stage__branches
    path.st3.active-dot(d='M474.6 332.1c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.2 1.9 3.2 5 0 6.8')
    path.st4.active-line-a(d='M468.5 329.2v-62.8')
    text.active-text-a(transform='translate(508.66 272.04)')
      | Access switches
    g#icon-access-switches.active-icon-a
      path.st3(d='M494.1 266.4c0-14.1-11.4-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.5 25.6 25.6 25.6 14.1-.1 25.6-11.5 25.6-25.6')
      g#icon-grp_1_
        path.st5(d='M452.2 277.3h32.6c.7 0 1.3-.6 1.3-1.3v-18.7c0-.7-.6-1.3-1.3-1.3h-32.6c-.7 0-1.3.6-1.3 1.3V276c.1.8.6 1.3 1.3 1.3z')
        path.st5(d='M480.1 263H457m20.1 3l3-3-3-3M457 270.5h23.1m-20.1-3l-3 3 3 3')
    path.st3.active-dot--related(d='M424.5 361.2c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.2 1.9 3.2 5 0 6.8')
  g#branch-g.network-stage__branches
    path.st3.active-dot(d='M398.9 426.5c3.2 1.9 3.2 4.9 0 6.8s-8.5 1.9-11.8 0c-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.6-1.9 11.8 0')
    path.st4.active-line-a(d='M392.9 430.3V322.6')
    g#icon_1_dev-1.active-icon-a
      path.st3(d='M418.5 322.6c0-14.1-11.5-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.4 25.6 25.6 25.6 14.1 0 25.6-11.5 25.6-25.6')
      path(d='M389.1 312.3l1.5 2.7c.7-.3 1.5-.5 2.3-.5.8 0 1.6.2 2.3.5l1.5-2.7c-1.2-.6-2.5-.9-3.8-.9-1.4 0-2.7.3-3.8.9m-2.9 20.9c-2.4-1.2-4.4-3.1-5.8-5.3-1.5-2.3-2.3-5-2.3-7.9 0-4.1 1.7-7.8 4.4-10.5s6.4-4.4 10.5-4.4 7.8 1.7 10.5 4.4 4.4 6.4 4.4 10.5c0 2.9-.8 5.6-2.3 7.9-1.4 2.3-3.4 4.1-5.8 5.3l.8 2.8v4.1h-15.1V336l.7-2.8zm13.1-1l-1.2-4.2c1.3-.8 2.3-2 3.1-3.3.8-1.4 1.2-3 1.2-4.7 0-2.6-1.1-5-2.8-6.8-1.7-1.7-4.1-2.8-6.8-2.8-2.6 0-5 1.1-6.8 2.8-1.7 1.7-2.8 4.1-2.8 6.8 0 1.7.5 3.3 1.2 4.7.8 1.3 1.8 2.5 3.1 3.3l-1.2 4.2c-2.1-1.1-4-2.8-5.3-4.9-1.4-2.1-2.1-4.7-2.1-7.4 0-3.8 1.5-7.3 4.1-9.8 2.5-2.5 6-4.1 9.8-4.1 3.8 0 7.3 1.5 9.8 4.1 2.5 2.5 4.1 6 4.1 9.8 0 2.7-.8 5.3-2.1 7.4-1.3 2.1-3.1 3.8-5.3 4.9m-1.7-19.4c.5.3.9.7 1.3 1.1 1.5 1.5 2.5 3.7 2.5 6 0 1.5-.4 3-1.1 4.2-.6 1.1-1.5 2-2.5 2.8l-.9-3.2c.4-.5.8-1 1-1.6.3-.7.4-1.4.4-2.2 0-1.5-.6-2.9-1.6-3.9-.2-.2-.5-.4-.7-.6l1.6-2.6zm-9.6 14.1c-1-.7-1.9-1.7-2.5-2.8-.7-1.2-1.1-2.7-1.1-4.2 0-2.4 1-4.5 2.5-6 .4-.4.9-.8 1.3-1.1l1.5 2.7c-.3.2-.5.4-.7.6-1 1-1.6 2.4-1.6 3.9 0 .8.2 1.5.4 2.2.3.6.6 1.1 1 1.6l-.8 3.1zm8.1-3.8c.4-.4.7-.8.9-1.3.2-.5.4-1.1.4-1.8 0-1.2-.5-2.3-1.3-3.2-.8-.8-1.9-1.3-3.2-1.3-1.2 0-2.3.5-3.2 1.3-.8.8-1.3 1.9-1.3 3.2 0 .6.1 1.2.4 1.8.2.5.5 1 .9 1.3h6.4zm3.3 13.5h-13.1v2.4h13.1v-2.4zm-12.9-1h12.7l-3.3-11.6h-6.1l-3.3 11.6z', fill-rule='evenodd', clip-rule='evenodd', fill='#fff')
    path.st3.active-dot--related(d='M449.2 397.6c3.2 1.9 3.2 4.9 0 6.8s-8.5 1.9-11.8 0c-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.6-1.9 11.8 0')
  g#branch-h.network-stage__branches
    path.st3.active-dot(d='M498.5 375.1c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.3 5 0 6.8')
    path.st4.active-line-a(d='M492.7 371.8v-86.9')
    g#icon_dev-3.active-icon-a
      path.st3(d='M518.3 284.9c0-14.1-11.4-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.5 25.6 25.6 25.6 14.1-.1 25.6-11.5 25.6-25.6')
      path.st5(d='M478.3 297.6H507c.7 0 1.3-.6 1.3-1.3v-22.9c0-.7-.6-1.3-1.3-1.3h-28.7c-.7 0-1.3.6-1.3 1.3v22.9c0 .7.6 1.3 1.3 1.3z')
      path.st5(d='M481.1 292.1h23.1c.5 0 .9-.4.9-.9v-14.8c0-.5-.4-.9-.9-.9h-23.1c-.5 0-.9.4-.9.9v14.8c0 .5.4.9.9.9z')
      path.st5(d='M480.3 284.1h8.8l2.1-5.2 2.6 9.7 1.6-4.5h9.9')
      path.st6(d='M505.3 294.8c0-.5-.4-1-1-1-.5 0-1 .4-1 1 0 .5.4 1 1 1 .5 0 1-.5 1-1M502.2 294.8c0-.5-.4-1-1-1-.5 0-1 .4-1 1 0 .5.4 1 1 1 .5 0 1-.5 1-1M499.1 294.8c0-.5-.4-1-1-1-.5 0-1 .4-1 1 0 .5.4 1 1 1 .5 0 1-.5 1-1')
    <path class="st3 active-dot--related" d="M524.2 361c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.2 4.9 0 6.8"/>
    <path class="st3 active-dot--related" d="M474.2 383.2c3.2 1.9 3.2 4.9 0 6.8s-8.5 1.9-11.8 0c-3.2-1.9-3.2-4.9 0-6.8 3.3-1.8 8.6-1.8 11.8 0"/>
  g#branch-i.network-stage__branches
    path.st3.active-dot(d='M548.5 346.2c-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.3-1.9 8.5-1.9 11.8 0 3.3 1.9 3.3 4.9 0 6.8')
    text.active-text-a(transform='translate(577.597 241.51)')
      | Devices
    path.active-line-a.st4(d='M542.7 342.8V235.1')
    g#icon_2_dev-2.active-icon-a
      path.st3(d='M568.3 235.1c0-14.1-11.4-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.5 25.6 25.6 25.6 14.1 0 25.6-11.5 25.6-25.6')
      path.st5(d='M528.7 238.3c7.7-7.7 20.2-7.7 27.9 0M534.4 244c4.6-4.6 11.9-4.6 16.5 0M523.2 232.8c10.8-10.8 28.3-10.8 39.1 0')
  g#branch-j.network-stage__branches
    path.st3.active-dot(d='M598.4 368c3.2 1.9 3.2 4.9 0 6.8-3.3 1.9-8.5 1.9-11.8 0-3.2-1.9-3.2-4.9 0-6.8 3.2-1.8 8.5-1.8 11.8 0')
    path.st4.active-line-a(d='M592.4 371.4v-63.7')
    g.active-icon-a
      path.st3(d='M618 307.7c0-14.1-11.5-25.6-25.6-25.6-14.1 0-25.6 11.4-25.6 25.6 0 14.1 11.4 25.6 25.6 25.6 14.2-.1 25.6-11.5 25.6-25.6')
      path.st5.active-icon-a(d='M605.4 318.1c.3.4 1.2 1.7 1.2 2.5 0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6 0-.7 1-2.1 1.2-2.5.1-.1.2-.2.4-.2s.4.1.4.2zm-13.9-13.3c-.8.1-1.4-.1-2-.3-.8-.2-1.7-.5-2.8-.1-.9.3-1.8.1-2.8-.1-.4-.1-.9-.2-1.3-.2-.1 0-.2 0-.3.1-.1.1-.1.2-.1.3v5.6c0 .6.4 1.1 1 1.3l3.5 1.2c.1 0 .3.1.4.1.1 0 .3 0 .4-.1l3.5-1.2c.6-.2 1-.7 1-1.3v-4.9c0-.1 0-.2-.1-.3-.1-.1-.2-.1-.4-.1zm-4.4 10.5v3.7c0 3.1 2.5 5.5 5.5 5.5s5.5-2.5 5.5-5.5v-7c0-1.9 1.5-3.4 3.4-3.4s3.4 1.5 3.4 3.4v3.6m-17.3-.4h.1l5.4-1.8c.8-.3 1.4-1.1 1.4-1.9v-13.8c.8 0 1.4-.7 1.4-1.5s-.7-1.5-1.5-1.5h-4.7v-1.1c0-1.5-1.2-2.7-2.7-2.7s-2.7 1.2-2.7 2.7v1.1h-4.7c-.8 0-1.5.7-1.5 1.5s.6 1.4 1.4 1.5v13.8c0 .9.6 1.7 1.4 1.9l5.4 1.8h.1m.7-22.5c-.3 0-.6.3-.6.6s.3.6.6.6.6-.3.6-.6-.3-.6-.6-.6z')
